
body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

/* nav */
nav {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav a {
  color: #2234fd;
}

nav a:hover {
  color: #2234fd;
  text-decoration: underline !important;
}

/* social media */
 .smedia {
   width: 20px;
 }
/* end nav */

/* main section - index */
.main {
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.main-text {
  vertical-align: top;
  color: pink;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 260px;
  width: 320px;
  line-height: 180px;
  height: 196px;
  z-index: 1;
}

/* main video for index */
.main-video{
  margin-top: 0;
  margin-right: -120px;
  margin-left: -120px;
  width: 500px;
  height: 500px;
  margin-bottom: 0;
}

.main-content {
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 12px;
  width: 320px;
  height: 196px;
  padding: 20px;
  color: #fff;
}
/* end main  */

/* section - recent work */
.section-middle-title {
  background-color: #d7fbdb;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #885c35;
  justify-content: center;
}

.section-middle {
  background-color: #d7fbdb;
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: center;
  align-items: top;
  display: flex;
  width: 100%;
}

.section-cards {
  transition: transform 0.2s;
}

.section-cards:hover {
    transform: scale(1.1);
}

/* end section - recent work  */

.livecoding-title {
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #2234fd;
  justify-content: center;
}

.livecoding-video {
  width: 800px ! important;
  height: 800px ! important;
}

/* end section - index */

.footer-text {
  color: #2234fd;
  font-size: 12px;
}

/* about */
.about {
  margin-top: 120px;
}

.about-photo {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-right: -55px;
  margin-left: -120px;
  align-items: baseline;
  filter: brightness(50%);
}

.about-content {
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 16px;
  width: 500px;
  height: 500px;
  padding: 20px;
  color: #fff;
}

/* end about */
