* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* nav */
nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#nav-items {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 80px;
}

nav a {
  color: #2234fd;
}

nav a:hover {
  color: #2234fd;
  text-decoration: underline !important;
}

/* social media */
 .smedia {
   width: 20px;
 }
/* end nav */

/* main section - index */
.main {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.main-text {
  vertical-align: top;
  color: pink;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 260px;
  width: 320px;
  line-height: 180px;
  height: 196px;
  z-index: 1;
}

/* main video for index */

.main-video {
  margin-top: 0;
  margin-right: -120px;
  margin-left: -200px;
  width: 500px;
  height: auto;
  margin-bottom: 0;
  /* padding: 0 ! important; */
}

.main-content {
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 12px;
  width: 320px;
  height: 196px;
  padding: 20px;
  color: #fff;
}
/* end main  */

/* section - recent work */

.bg-stretch {
  width: 100%;
  background-color: #d7fbdb;
}

.section-middle {
  padding-bottom: 40px;
  padding-top: 40px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-cards {
  transition: transform 0.2s;
  width: 268px;
  height: 500px;
}

.section-cards:hover {
    transform: scale(1.1);
}

/* end section - recent work  */

.livecoding-title {
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #2234fd;
  justify-content: center;
}

.livecoding-video {
  width: 800px ! important;
  height: 800px ! important;
}

/* end section - index */

.footer-text {
  color: #2234fd;
  font-size: 12px;
}

/* about */
.about {
  margin-top: 120px;
}

.about-photo {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-right: -55px;
  margin-left: -120px;
  align-items: baseline;
  filter: brightness(50%);
}

.about-content {
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 16px;
  width: 500px;
  height: 500px;
  padding: 20px;
  color: #fff;
}

/* end about */

/* media queries */

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  header nav {
    width: 95%;
  }
  #nav-items {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 350px;
    padding: 30px;
    position: absolute;
    top: 82px;
    right: 100%;
    z-index: 10;
    justify-content: start;
    /* flex-grow: 2; */
    font-size: 16px;
    padding-left: 80px;
  }
}

/* @media (max-width: 1200px) {
  .section-middle {
    width: 75%
  }
} */
